<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>

<!-- Main Wrapper -->
<div id="wrapper">
  <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">스케줄러</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <div class="row">
          <div class="col-lg-12">
							<table cellpadding="1" cellspacing="1"
						class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>그룹</th>
								<th>스케줄러</th>
								<th>트리거</th>
								<th>잡</th>
								<th>크론정보</th>
								<th>상태</th>
								<th>조작</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="list in schedulerList">
								<td>[[list.groupName]]</td>
								<td>[[list.schedulerName]]</td>
								<td>[[list.triggerName]]</td>
								<td>[[list.jobName]]</td>
								<td>[[list.crontab]]</td>
								<td>[[list.status]]</td>
 								<td><button data-ng-click="jobChangeStatus($index)">조작</button></td> 
									
							</tr>
						</tbody>
					</table>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>

<!-- Right sidebar -->
<!-- <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>-->

<!-- Footer -->
<!-- <footer class="footer" ng-include="'views/common/footer.html'"></footer> -->
